@import "libs/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
body {
    background: #ECECEC;
    font-family: "Helvetica", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

// hide slogan while viewpoint is to small
@media screen and (max-width: 800px) {
    header .slogan {
        display: none;
    }
}

header {
    padding: 2em 0;
    background: #006CEE;
    color: #fff;
    min-width: 650px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    h1 {
        display: none;
    }
    img {
        display: inline-block;
    }
    .slogan {
        font-size: 0.9em;
        position: relative;
        top: 6px;
    }
    nav {
        display: inline-block;
        float: right;
        position: relative;
        top: 10px;
    }
    nav li {
        display: inline-block;
        /*margin: 0 20px;*/
    }
    nav li a {
        color: #fff;
        display: block;
        padding: 6px 10px;
        border: 1px solid #006CEE;
    }
    nav a.active,
    nav a:hover {
        color: #fff;
        text-decoration: none;
        border: 1px solid #fff;
        border-radius: 3px;
    }
}

blockquote {
    font-size: 1em;
}

.container {
    min-width: 650px;
}

.description {
    font-size: 20px;
    margin-left: 20px;
}

.row {
    margin: 0 20px;
}

section {
    margin: 40px 0;
}

input[name="cdn"] {
    width: 500px;
    border: none;
    outline: none;
}

.tab-pane li span {
    color: red;
}

.tab-content {
    padding: 20px 30px;
    background: #fff;
}

h3 {
    margin: 30px 0;
}

h4 {
    margin: 20px 0;
    padding: 10px 0;
    border-bottom: 1px solid #ccc
}

h3>a {
    color: #000;
    text-decoration: none;
}

h3>a:hover {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

li {
    line-height: 1.5;
}

.table-content h4 {
    margin: 20px 0;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.bg-danger {
    padding: 30px;
    margin-bottom: 30px;
}

.comments-title {
    margin-top: 50px;
}

.comments {
    margin: 40px 20px 0 20px;
    background-color: #fff;
}

.subfooter {
    background-color: #232736;
    color: #fff;
    padding: 30px 0;
    min-width: 650px;
    margin-bottom: 0;
    h4 {
        margin: 20px 0;
        padding: 0;
        border-bottom: none;
    }
    ul {
        padding-left: 0;
        list-style: none;
    }
    a {
        color: #fff;
        border-bottom: 1px dotted #999;
        &:hover {
            text-decoration: none;
            border-bottom: 1px solid #fff;
        }
    }
}

footer {
    padding: 14px 0;
    font-size: 12px;
    background: #232736;
    color: #fff;
    min-width: 650px;
    p {
        text-align: center;
        margin-bottom: 0;
    }
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
            text-decoration: none;
            border-bottom: 1px solid #fff;
        }
    }
}

article {
    background-color: #fff;
    padding: 40px 80px;
}

article li {
    line-height: 2;
}

.article-header {
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.article-header h1 {
    font-size: 26px;
}

.article-header .input-warpper {
    position: relative;
}

.article-header .drilldown {
    position: absolute;
    /*top: 24px;*/
    z-index: 1000;
    left: 0;
    right: 4px;
    background-color: #f9f9f9;
    border: 1px solid #66afe9;
    border-top: none;
    max-height: 300px;
    overflow-y: auto;
}

.article-header .drilldown ul {
    padding-left: 0;
    margin-bottom: 0;
}

.article-header .drilldown li {
    list-style: none;
    text-align: left;
    padding: 6px 10px;
    cursor: pointer;
}

.article-header .drilldown li:hover {
    background-color: #66afe9;
    color: #fff;
}

.article-header input {
    display: inline-block;
    border-radius: 0;
    width: 60%;
    border: 1px solid #006cee;
}

.article-header input:focus {
    box-shadow: none;
}

.article-header .btn-default {
    color: #fff;
    border-radius: 0;
    position: relative;
    top: -1px;
    left: -4px;
    padding: 6px 26px;
    background-color: #006cee;
    border-color: #006cee;
}

.installed li {
    padding-left: 10px;
    cursor: pointer;
}

.installed li.active {
    color: #006cee;
    font-weight: bold;
}

.detail {
    background-color: #f9f9f9;
    border: 1px solid #ececec;
    border-radius: 3px;
}

.detail input {
    width: 100%;
    border: none;
    background: none;
}

#checkUpdate {
    font-size: 12px;
    float: right;
    position: relative;
    top: -10px;
}
