body {
    background: #ECECEC
}

header {
    padding: 2em 0;
    background: #006CEE;
    color: #fff;
    min-width: 650px;
}

blockquote {
    font-size: 1em;
}

.container {
    min-width: 650px;
}

.description {
    font-size: 20px;
    margin-left: 20px;
}

.row {
    margin: 0 20px;
}

section {
    margin: 40px 0;
}

input[name="cdn"] {
    width: 500px;
    border: none;
    outline: none;
}

.tab-content {
    padding: 20px 30px;
    background: #fff;
}

h3 {
    margin: 30px 0;
}

h4 {
    margin: 20px 0;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.comments-title {
    margin-top: 50px;
}
.comments {
    margin: 40px 20px 0 20px;
    background-color: #fff;
}

.wc_box {
    border: none;
}
footer {
    background: #000;
    color: #fff;
    min-width: 650px;
}

footer p {
    margin: 20px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}